/node_modules
/public/hot
/public/storage
/public/FilesFTP
/public/FilesEDO
/public/FilesEDO2
/public/katm_files
/public/admin-lte
/public/ckeditor
/public/ClientFiles
/public/login_temp
/public/uw*
/public/js
/public/images
/public/css
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
