
/** for back **/
.content-wrapper, .right-sides011 {
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-color: #2c6ed5;
    padding: 15px;
}

.loading-gif {
    background: url("../images/loading-3.gif") no-repeat center top;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    opacity: 0.5;
}

/* myId*/
#live_camera {
    align-items: center;
    margin: 0 auto;
}
.cam-btn {
    bottom: 81px;
    height: 58px !important;
    margin: 0;
    padding: 0;
    background: none !important;
    border: 1px solid #fff !important;
    border-radius: 25px !important;
}
.cam-btn:hover {
    background: #ffffff70;
    border: 1px solid #ffffff70;
    transform: scale(1.1);
}
.bg-demo {
    width: 420px;
    height: 340px;
    overflow: hidden;
    background-image: url("/images/bg_face_2.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: 75%;
    background-color: #7fffd400;
    margin: 0 auto;
    align-items: center;
}
.bg-demo img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
}

@media print {
    .noPrint{
      display:none;
    }
  }
